body {
    background-color: linen;
}

.wrapper {
    border: 1px solid lightgray;
    background: white;
    width: 400px;
    margin: 0 auto;
}

.todoDone {
    text-decoration: line-through;
    color: lightgray;
}

//material icons styling
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }